*{
box-sizing:border-box;
}

body{
	padding: 0;
  	margin: 0;
	background-color: #dbdbdb;
	font-family: 'Grandstander', cursive;
	background-size: 100%;

}
#social{
background-color: black;
color:white;
height: 55px;
width:100%;
position:sticky;
top:0;
z-index: 1;
font-size: 18px;
text-align: right;
padding:14px;
}

#font{
float: left;
letter-spacing: 2px;
}
span{
	font-size: 12px;
	letter-spacing: 1px;
}
#social>i{
	margin-right: 14px;

}
#social>i:hover{
opacity: 0.8;
color:#00FFFFFF;
font-size: 24px;

}
#container{
	width: 80%;
	margin: auto;
	height: auto;
}
header{
	width: 100%;
	height: 250px;
	box-shadow: 0 2px 8px 2px  rgba(20,23,28,.15);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom: 5px;

}
#headerresim{
	width: 100%;
	height:250px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

}
section{
	width: 60%;
	height: auto;
	background-color: #f1f1f1 ;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: 0 2px 8px 2px  rgba(20,23,28,.15);
	margin-top: 200px;

	margin: 0 auto;
	font-family: cursive;
	position: absolute;
	top: 50%;
	left:50%;
	margin-left: -600px;
	margin-top: -300px;
	text-align: center;
	
}


nav{
	
	width: 20%;
	float: left;
	margin-top: 10px;
	height: auto;

}
nav ul{
	width: auto;
	height: 100%;
	margin:0;
	padding:0;
}
nav li{
	list-style-type: none;

}
nav li a{
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	color: black;
	border-bottom: 1px solid #b4b4b4;
	padding-left: 20px;
	display: block;

}
nav li a:hover{
	color: white;
	background-color: #adadad;
}
i{
	margin-right: 10px;

}
main{
float:left;
height: auto;
width: 100%;
padding: 30px;


}
.icerik{
width: 48%;
height: auto;
display: inline-block;
margin-right:15px;
border-radius: 10px;
box-shadow: 0 2px 8px 2px  rgba(20,23,28,.15);
padding: 5px;
margin-bottom: 15px;
}
.rsim{
	width: 100%;
	border-top-right-radius : 10px; 
	border-top-left-radius: 10px;
	transition: opacity  0.8s; 
}
.rsim:hover{
opacity:0.6;

}
.rsim2{
	width: 10%;
	
	border-top-right-radius : 10px; 
	border-top-left-radius: 10px;
	transition: opacity  0.8s; 
}
.rsim2:hover{
opacity:0.6;
}
h5{
	margin: 10px;
	color: dimgray;
}
.icerikText{
margin:10px;
color: dimgray;

}
.btndevam:link{
	display: block;
	height: 45px;
	width: 150px;
	padding: 10px 20px;
	background-color:#0071ce;
	text-decoration: none;
	color :white;
	margin :15px; 
	border-radius: 7px;}
	.btndevam:hover{
	opacity: 0.8;
	}
	footer{
		width: 100%;
		height: 70px;
		background-color: black;
		color: white;
		line-height: 70px;
		text-align: center;
		box-shadow: 0 2px 8px 2px  rgba(20,23,28,.15);
	}
	h1{
		text-align: center;
		background-color: black;
		color: white;
		height: 50px;
		line-height: 50px;
		margin: 0 10px;
		border-radius: 10px;
		box-shadow: 0 2px 8px 2px  rgba(20,23,28,.15);
	
	}
	#hakkýmdarsm{
		width: 444px;
		height: 444px;
		float: left;
		border-radius: 10px;
		margin: 10px;
		transition: opacity 0.8s;
	}
	#hakkýmdarsm:hover{
	opacity: 0.8;

	}
	.hakyazý{
		text-indent: 40px;
	}
	.galerirsm{
		width: 22%;
		height: 200px;
		border-radius: 5px;
		opacity: 0.8;
		box-shadow: 0 2px 8px 2px  rgba(20,23,28,.15);
		margin: 10px;
		transition: all 0.8s;
		object-fit: cover;
	}
	.galerirsm:hover{
		opacity: 1;
		border:5px solid  white;
		cursor:pointer;
	}
	.link:link{
		text-decoration: none;
	}